* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

main {
    width: 80%;
    margin: auto;
}

article {
    width: 30%;
    position: relative;
    margin-top: 30px;
}

img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.heartDrawing {
    font-size: 30px;
    position: absolute;
    top: 0.8em;
    right: 0;
    padding: 3px 15px;
    background-color: white;
}

.DiscountTags {
    position: absolute;
    left: 0;
    bottom: 75px;
    color: white;
    font-weight: bold;
}

.DiscountTags span {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

.PercentDiscountTag {
    background-color: #eb0037;
}

.SustainabilityTag {
    background-color: #00875a;
}

.BrandType {
    font-size: 14px;
}

.ClothType {
    font-weight: 700;
    font-size: 18px;
}

.PriceTag {
    color: #ff2327;
    font-weight: 700;
}

.BeforeDiscountTag {
    text-decoration: line-through;
}

section {
    line-height: 18px;
    margin-top: 5px;
}