* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

main {
    width: 80%;
    margin: auto;
}

article {
    width: 30%;
    background-color: yellow;
    position: relative;
    margin-top: 30px;
    height: 600px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.heartDrawing {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 400px;
    padding: 3px 15px;
    background-color: white;
    float: right;
}

.clearfixHeart::before {
    content: '';
    display: block;
    clear: right;
}